@font-face {
    font-family: 'Manrope-Bold';
    src:  url("fonts/text/Manrope-Bold.ttf") format("truetype"),
  }
  @font-face {
    font-family: 'Manrope-ExtraBold';
    src:  url("fonts/text/Manrope-ExtraBold.ttf") format("truetype"),
  }
  @font-face {
    font-family: "Manrope-ExtraLight";
    src:  url("fonts/text/Manrope-ExtraLight.ttf") format("truetype"),
  }
  @font-face {
    font-family: "Manrope-Light";
    src:  url("fonts/text/Manrope-Light.ttf") format("truetype"),
  }
  @font-face {
    font-family: "Manrope-Medium";
    src:  url("fonts/text/Manrope-Medium.ttf") format("truetype"),
  }
  @font-face {
    font-family: "Manrope-Regular";
    src:  url("fonts/text/Manrope-Regular.ttf") format("truetype"),
  }
  @font-face {
    font-family: "Manrope-SemiBold";
    src:  url("fonts/text/Manrope-SemiBold.ttf") format("truetype"),
  }