@import "font.scss";

* {
  font-family: "Manrope-Regular";
}

.index-active-class {
  // background-color: #191b73;
  border: #191b73 1px solid;
}
.index-active-class .nav-title {
  color: #191b73 !important;
}
.index-nav-class {
  border-radius: 10px !important;
  padding-left: 20px !important;
}
.priceCardTitle {
  font-family: "Manrope-Bold";
  font-size: 18px !important;
}
.priceCardPriceTag {
  font-family: "Manrope-ExtraBold";
  font-size: 35px !important;
  color: #191b73;
}
.discuontMessage {
  font-size: 12px;
  color: #db0404;
  position: absolute;
  right: 20px;
}
.addToCartBtn {
  width: 100px !important;
  text-align: center;
}
.priceSection {
  padding-left: 45px;
}
.calculatorTitleRow {
  text-align: center !important;
}
.calculatorTitle {
  font-family: "Manrope-ExtraBold";
  color: #191b73;
  font-size: 25px;
}
.calculatorRow {
  text-align: center !important;
  padding: 10px;
}
.inputRow {
  text-align: center !important;
  padding: 10px;
}
.formField {
  padding-left: 10%;
  padding-right: 10%;
}
.qtyDetails {
  font-family: "Manrope-ExtraBold";
  color: #8b8d9b;
}
.infoTextColor {
  color: #191b73;
  font-family: "Manrope-ExtraBold";
}
.dialogHeader {
  padding: 20px;
  font-family: "Manrope-ExtraBold";
  color: #191b73;
}
.iconImage {
  text-align: center !important;
  margin-left: 30%;
  margin-top: -20px;
}
.priceMessage {
  padding: 20px;
  font-family: "Manrope-bold";
  color: #191b73;
}
.price {
  color: red;
  font-family: "Manrope-ExtraBold";
  font-size: 20px;
}
.viewGuideMessage {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tableHeader {
  background-color: rgb(228, 220, 220) !important;
  font-weight: 600 !important;
}
